.headername{
  font-size: 30px;
}
.itemCtrl{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.fewerElements{
  margin: 5px;
  border: 2px solid #0099CC;
  width: 20vw;
  height: 31vw;
  font-size: 10px;
  align-content: center;
  justify-items: center;
  background: #feffff;
  background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
  background: -webkit-linear-gradient(top, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
  background: linear-gradient(to bottom, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff',  endColorstr='#a0d8ef',GradientType=0 );
  overflow: auto;
  position: relative;
  left: 1px;
  border-radius: 30px;
}

.bottomButton{
  color: #0099CC; 
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 6px; 
  height: 50px;
  width: 130px;
}
.bottomButton:hover{
  background-color: #008CBA;
  color: white;
}


