.mainDivinEdit{
  
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 2px solid #0099CC;
  width: 20vw;
  height: 22vw;
  font-size: 10px;
  align-content: center;
  justify-items: center;
  background: #feffff;
  background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
  background: -webkit-linear-gradient(top, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
  background: linear-gradient(to bottom, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff',  endColorstr='#a0d8ef',GradientType=0 );
  overflow: hidden;
  border-radius: 30px;
}


.edit{
  font-size: 25px;
}

.buttonEdit{
  margin-top: 40px;
}

.inputBoxes{
  display: flex;
  flex-direction: column;
  margin: 10px;
}