.bigcontainer{
  color: black;
  font-size: 25px; 
  display: flex;
  flex-direction: column;
}
.recipeParent{
  display: flex;
  width: 32%;
}

.myrecipes{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 20%;
  font-size: 44px;
  font-weight: 600;
}
.myrecipes:hover{
  text-shadow: 2px 2px #000000;
  
}

.shopping{
  display: flex;
  justify-content: center;
  
  align-content: center;
  width: 20%;
  font-size: 44px;
  font-weight: 600;
}

.shopping:hover{
  text-shadow: 2px 2px #000000;
  
}


.HeaderDiv{
  width: 100%;
  display: flex;
  justify-content: space-around;

  
}



.createFormParent{
  max-width: 1400px;
  display: flex;
  margin: 10px auto;
	
	flex-wrap: wrap;
	
  
}

.listItems{
  text-align: left;
  font-size: 20px;
  
}

.calendarDrop{
  width: 23vw;
  height: 400px;
  margin: 12px;
}

.shoppinglist{
  max-width: 900px;
  display: flex;
  flex-direction: column;
}