.mainRecipeBody{
  margin: 5px;
  width: 24vw;
  height: 40vw;
  font-size: 14px;
  align-content: center;
  
  background: #feffff;
  background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
  background: -webkit-linear-gradient(top, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
  background: linear-gradient(to bottom, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff',  endColorstr='#a0d8ef',GradientType=0 );
  overflow: hidden;
  border-radius: 30px;
}
.mainRecipeBody:hover{
  box-shadow: 20px 20px 10px 0px rgba(0,0,0,0.75);
  overflow: auto;
}

.imageInRecipe{
  width: 19vw;
  margin: 2px;
  height: 19vw;
  border-radius: 30px;
}

.bottomButton{
  color: #0099CC; 
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 6px; 
  height: 50px;
  width: 130px;
}
.bottomButton:hover{
  background-color: #008CBA;
  color: white;
}

.bottomButton2{
  color: #0099CC; 
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 6px; 
  height: 40px;
  width: 130px;
}
.bottomButton2:hover{
  background-color: #008CBA;
  color: white;
}

.ingredientAlign{
  text-align: left;
  margin-left: 20px;
}

.directionsAlign{
  text-align: left;
  margin-left: 20px;
}

