.mainRecipeBody{
  margin: 5px;
  border: 2px solid #0099CC;
  width: 25vw;
  height: 35vw;
  font-size: 14px;
  align-content: center;
  justify-items: center;
  background: rgb(242,245,246);
  background: -moz-linear-gradient(top, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%);
  background: -webkit-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
  background: linear-gradient(to bottom, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 );
  overflow: hidden;
  border-radius: 30px;
}
.mainRecipeBody:hover{
  box-shadow: 20px 20px 10px 0px rgba(0,0,0,0.75);
  width: 35vw;
  height: 50vw;
  font-size: 20px;
  overflow: auto;
}

.imageInRecipe{
  width: 19vw;
  margin: 2px;
  height: 19vw;
}

.bottomButton{
  color: #0099CC; 
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 6px; 
  height: 50px;
  width: 130px;
}
.bottomButton:hover{
  background-color: #008CBA;
  color: white;
}