.mainDiv{
  height: 100vw;
}

.recipeParent{
  display: flex;

}

.myrecipes{
  display: flex;
  justify-content: center;
  
  align-content: center;
  width: 20vw;
  font-size: 28px;
}
.myrecipes:hover{
  text-shadow: 2px 2px #88b130;
  font-size: 40px;
}

.shopping{
  display: flex;
  justify-content: center;
  
  align-content: center;
  width: 20vw;
  font-size: 28px;
}

.shopping:hover{
  text-shadow: 2px 2px #88b130;
  font-size: 40px;
}


.HeaderDiv{
  width: 100vw;
 
  display: flex;
  justify-content: space-around;

  
}

.bigcontainer{
 
}

.createFormParent{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

.listItems{
  text-align: left;
  font-size: 20px;
  
}