.mainDiv{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}
.HeaderDiv{
  position: relative;
  top: 1px;
  height: 10vw;
  width: 100vw;
  border-bottom: 2px solid #000;
}

.createFormParent{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 12vw;
  left: 1px;
}

.recipeParent{
  display: flex;
  position: relative;
  left: 3vw;
  top: 12vw;
  flex-wrap: initial;


}