.mainRecipeBody{
  margin: 5px; 
  font-size: 16px;
  align-content: center;
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
  font-weight: 400; 
  background: white;

}

.mainRecipeBody:hover{
  box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.25);
  
}

.imageInRecipe{
  width: 60%;
  margin: 2px;
  
  border-radius: 10px;
}

.bottomButton{
  color: #0099CC; 
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 6px; 
  height: 50px;
  width: 130px;
  padding: 5px;
}
.bottomButton:hover{
  background-color: #008CBA;
  color: white;
}

.bottomButton2{
  color: #008CBA;; 
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 6px; 
  height: 50px;
  width: 130px;
  padding: 5px;
}
.bottomButton2:hover{
  background-color: #008CBA;
  color: white;
}

.ingredientAlign{
  text-align: left;
  margin-left: 20px;
}

.directionsAlign{
  text-align: left;
  margin-left: 20px;
}

