.App {
  margin: 0;
  text-align: center;
  background: #cdeb8b;
  background: -moz-linear-gradient(top, #cdeb8b 0%, #cdeb8b 100%);
  background: -webkit-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%);
  background: linear-gradient(to bottom, #cdeb8b 0%,#cdeb8b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8b', endColorstr='#cdeb8b',GradientType=0 );
  font-family: 'Dosis', sans-serif;
  /* font-family: 'Indie Flower', cursive; */
  
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
